---
layout: archive
title: "Brief Resume"
permalink: /resume/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->


Three-page CV can be found <a style="display: inline "href="../files/psistakis_cv_march25.pdf" >here</a> (Last Update: April 2025).

<h2>Professional Experience</h2>
<ul>
<li> Research Assistant (Aug. 2020 - ), <a style="display: inline "href="https://cs.illinois.edu/" >iacoma</a> group and <a style="display: inline "href="https://cs.illinois.edu/" >CS@ILLINOIS</a> </li>
  <ul>
    <li> Description: Combining consistency and persistency models in datacenters, exploiting the sub-microsecond latency of RDMA, utilizing SmartNICs, and designing efficient distributed transactions. Additionally, working on fault tolerance for leaderless and CXL-enabled systems. </li>
  </ul>
<li> Graduate Research Intern (May 2024 - August 2024), <a style="display: inline "href="https://www.microsoft.com/en-us/research/group/azure-research-systems/" >Azure Research - Systems (Microsoft)</a> </li>
<ul>
  <li> Description: Characterization and use case exploration for memory pooling with Compute Express Link (CXL). </li>
</ul>
<li> Graduate Intern (May 2022 - August 2022), <a style="display: inline "href="https://www.nvidia.com/en-us/" >NVIDIA</a> </li>
<ul>
  <li> Description: Pre-silicon design and verification. </li>
</ul>
<li> Research Engineer (Dec. 2019 - Aug. 2020), <a style="display: inline "href="https://ics.forth.gr/carv" >CARV, ICS-FORTH</a> </li>
  <ul>
    <li> Description: Evaluate and expand the in-house hardware prototypes designed and developed by the CARV laboratory. More specifically, provide a detailed performance analysis of the FPGA-based RDMA Engine, as well as optimize page-fault handling during RDMA. </li>
  </ul>
<li> Graduate Trainee (July 2017 - Nov. 2019), <a style="display: inline "href="https://ics.forth.gr/carv" >CARV, ICS-FORTH</a> and <a style="display: inline "href="https://www.csd.uoc.gr/en" >CSD-UoC</a> </li>
  <ul>
    <li> Description: Provide support to handle dynamic page faults during RDMA transfers (MSc thesis). </li>
  </ul>
</ul>

<h2>Studies</h2>
<ul>
<li> PhD in Computer Science (2020 - ), <a style="display: inline "href="https://cs.illinois.edu/" >CS@ILLINOIS</a> </li>
<ul>
  <li> Research topics (currently): Computer Architecture, Distributed Systems, CXL, Consistency, Persistency, NVM, and Distributed Transactions.
  <li> Advisor: Prof. <a style="display: inline "href="https://iacoma.cs.uiuc.edu/josep/torrellas.html" >Josep Torrellas </a></li>
  <li> Graduate Student Member of the <a style="display: inline "href="https://acecenter.grainger.illinois.edu/" >ACE Center for Evolvable Computing</a>
</ul>
<li> M.Sc. degree in Computer Science (2017 - 2019), <a style="display: inline "href="https://www.csd.uoc.gr/en" >CSD-UoC</a> </li>
<ul>
    <li> M.Sc. Thesis: "Handling of Memory Page Faults during Virtual-Address RDMA"
        <ul>
            <li> Objective: Aimed to avoid pinning of the page tables of processes, that would hinder the memory utilization. A non-pinned-memory-pages design results to page faults that require handling.
            </li>
            <li> Advisor: Prof. <a style="display: inline "href="https://www.ics.forth.gr/~kateveni" >Manolis G.H. Katevenis </a>
            </li>
            <li> Took place at <a style="display: inline "href="https://www.ics.forth.gr/carv/" >CARV, ICS-FORTH</a> [July 2017 - July 2019]
            </li>
            <li> Supported and used by the <a style="display: inline "href="https://exanest.eu" >ExaNeSt</a> project
            </li>
        </ul>
    </li>
</ul>
<li> B.Sc. degree in Computer Science (2013 - 2017), <a style="display: inline "href="https://www.csd.uoc.gr/en" >CSD-UoC</a> </li>
<ul>
    <li> B.Sc. Thesis: "IOMMU Support for Virtual-Address Remote DMA in an ARMv8 Environment"
        <ul>
            <li> Objective: Effectively utilize ARM’s IOMMU (SMMU) on Xilinx Zynq Ultrascale+ in order to support virtual-addressed RDMA transfers. A mechanism was designed to enable seemless translation of virtual-to-physical addresses by utilizing the process page table.
            </li>
            <li> Advisor: Prof. <a style="display: inline "href="https://www.ics.forth.gr/~kateveni" >Manolis G.H. Katevenis</a>
            </li>
            <li> Took place at <a style="display: inline "href="https://www.ics.forth.gr/carv/" >CARV, ICS-FORTH</a> [June 2016 - Dec. 2016]
            </li>
            <li> Partly used by the <a style="display: inline "href="https://exanest.eu/" >ExaNeSt</a> project
            </li>
        </ul>
    </li>
</ul>
</ul>

<h2>Teaching Experience</h2>
<ul>
<li> Graduate Teaching Assistant (Sept. 2017 - Nov. 2019), <a style="display: inline "href="https://www.csd.uoc.gr/en" >CSD-UoC</a> </li>
  <ul> 
    <li> <a style="display: inline "href="https://www.csd.uoc.gr/~hy120/17f/engl_cont.html" >Digital Design (CS-120)</a>: Fall 2017, Fall 2018</li>
  </ul>
  <ul>
    <li> <a style="display: inline "href="https://www.csd.uoc.gr/~hy225/18a/engl_cont.html" >Computer Organization (CS-225)</a>: Spring 2018, Spring 2019</li>
  </ul>
</ul>

<h2>Affiliations</h2>
<h3>Current:</h3>
<div id="banner">
  <div class="inline-block">
      <a href="https://cs.illinois.edu/" target="_blank" rel="noopener noreferrer"> <img src ="../images/uiuc-logo.png" width="300" height="105"></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://iacoma.cs.uiuc.edu/" target="_blank" rel="noopener noreferrer"> <img src ="../images/iacoma-logo.png" width="300" height="105" ></a>
  </div>
</div>

<h3>Previously:</h3>
<div id="banner">
  <div class="inline-block">
    <a href="https://www.microsoft.com/en-us/research/group/azure-research-systems/" target="_blank" rel="noopener noreferrer"> <img src ="../images/Microsoft-Azure-logo.png" width="300" height="105" ></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.nvidia.com/" target="_blank" rel="noopener noreferrer"> <img src ="../images/01-nvidia-logo-horiz-500x200-2c50-d.png" width="300" height="105" ></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://csd.uoc.gr/en" target="_blank" rel="noopener noreferrer"> <img src ="../images/uoc-logo.png" width="300" height="105"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://ics.forth.gr/carv" target="_blank" rel="noopener noreferrer"> <img src ="../images/ics-forth-logo.png" width="300" height="105"></a>
  </div>
</div>
